# for local development use localhost 
DB_NAME=car-rental
DB_USER=postgres
DB_PASSWORD=YourPassword
DB_HOSTNAME=db
DB_PORT=5432

# jwt
SECRET_KEY=your-secret-key 
ALGORITHM = "HS128"
ACCESS_TOKEN_EXPIRE_MINUTES = 30